.header {
    background: $opaque-blue;
}

.header--admin {
    background: $dark-blue;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}
.header__content--title {
    justify-content: center;
    padding: 0;
}

.header__tab {
    color: white;
    text-decoration: none;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        font-family: 'Lobster Two', cursive;
        font-size: 4rem; 
        font-weight: normal; 
        margin: 0; 
        text-align: center; 
    }
}