.page-title {
    text-align: center;
}

.page-body {
    margin-bottom: $l-size;
    font-style: italic;
    font-weight: 200;
}

.page-info {
    margin-top: $l-size;
    margin-bottom: $l-size;
    font-weight: 300;
    text-align: center;
    span {
        font-weight: bold;
    }
}

.page-info-container {
    background: fade-out(white, .4);
    // border: 1px solid $grey;
    border-radius: 0 0 4px 4px;
    padding: $m-size 6rem;
    text-align: center;
}