.input-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: $s-size;
    margin-bottom: $s-size;
    @media (min-width: $desktop-breakpoint) {
        justify-content: center;
        flex-direction: row;
        margin-top: $m-size;
        margin-bottom: $m-size;
    }
}

.input-group__item {
    margin-bottom: $s-size;
    input {
        width: 100%;
    }
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $m-size 0 $m-size;
        input {
            width: 350px;
        }
    }
}

.input-group__item__title {
    margin: 0
}