.venue-info {
    align-items: center;
    display: flex;
    font-family: 'Charm', cursive;
    justify-content: center;
    flex-direction: column;
    margin: $m-size 0 $m-size 0;
    > * {
        margin: 0;
    }
}

.map-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $l-size;
}